USE [AcilSiraYonetimSistemi]
GO
/****** Object:  Table [dbo].[AktifSira]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AktifSira](
	[SiraId] [int] IDENTITY(1,1) NOT NULL,
	[HastaId] [int] NOT NULL,
	[RandevuSaati] [datetime] NOT NULL,
	[SiraNumarasi] [int] NOT NULL,
	[KayitTarihi] [datetime] NULL,
	[SiraDurumId] [int] NULL,
	[BenBurdayim] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HaraketTipi]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HaraketTipi](
	[HaraketTipId] [int] IDENTITY(1,1) NOT NULL,
	[HareketDurumu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HaraketTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hasta]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hasta](
	[HastaId] [int] IDENTITY(1,1) NOT NULL,
	[TcKimlikNo] [varchar](11) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[KayitTarihi] [datetime] NULL,
	[CezaBitisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastane]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastane](
	[HastaneId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[HastaneEnlem] [float] NOT NULL,
	[HastaneBoylam] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HastaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KonumKaydi]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KonumKaydi](
	[KonumId] [int] IDENTITY(1,1) NOT NULL,
	[HastaId] [int] NOT NULL,
	[Enlem] [decimal](9, 6) NULL,
	[Boylam] [decimal](9, 6) NULL,
	[KayitZamani] [datetime] NULL,
	[UlasimTurId] [int] NULL,
	[HastaneId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KonumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuayeneKaydi]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuayeneKaydi](
	[MuayeneId] [int] IDENTITY(1,1) NOT NULL,
	[HastaId] [int] NOT NULL,
	[SiraId] [int] NULL,
	[MuayeneBaslangic] [datetime] NULL,
	[MuayeneBitis] [datetime] NULL,
	[Sonuc] [nvarchar](200) NULL,
	[CezaDurumu] [bit] NULL,
	[MuayeneSuresiDakika]  AS (datediff(minute,[MuayeneBaslangic],[MuayeneBitis])),
PRIMARY KEY CLUSTERED 
(
	[MuayeneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiraDurumu]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiraDurumu](
	[SiraDurumId] [int] IDENTITY(1,1) NOT NULL,
	[Durum] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiraDurumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiraHareketleri]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiraHareketleri](
	[HareketId] [int] IDENTITY(1,1) NOT NULL,
	[SiraId] [int] NOT NULL,
	[HareketZamani] [datetime] NULL,
	[HaraketTipId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HareketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UlasimTurleri]    Script Date: 6.03.2026 19:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UlasimTurleri](
	[UlasimTurId] [int] IDENTITY(1,1) NOT NULL,
	[TurAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UlasimTurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AktifSira] ON 

INSERT [dbo].[AktifSira] ([SiraId], [HastaId], [RandevuSaati], [SiraNumarasi], [KayitTarihi], [SiraDurumId], [BenBurdayim]) VALUES (1, 1, CAST(N'2025-12-26T14:56:13.840' AS DateTime), 100, CAST(N'2025-12-26T13:56:13.840' AS DateTime), 3, 1)
INSERT [dbo].[AktifSira] ([SiraId], [HastaId], [RandevuSaati], [SiraNumarasi], [KayitTarihi], [SiraDurumId], [BenBurdayim]) VALUES (2, 2, CAST(N'2025-12-26T16:06:13.840' AS DateTime), 101, CAST(N'2025-12-26T14:56:13.840' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[AktifSira] OFF
GO
SET IDENTITY_INSERT [dbo].[HaraketTipi] ON 

INSERT [dbo].[HaraketTipi] ([HaraketTipId], [HareketDurumu]) VALUES (1, N'Standart Akış')
INSERT [dbo].[HaraketTipi] ([HaraketTipId], [HareketDurumu]) VALUES (2, N'Öne Çekildi')
INSERT [dbo].[HaraketTipi] ([HaraketTipId], [HareketDurumu]) VALUES (3, N'Sona Atıldı')
SET IDENTITY_INSERT [dbo].[HaraketTipi] OFF
GO
SET IDENTITY_INSERT [dbo].[Hasta] ON 

INSERT [dbo].[Hasta] ([HastaId], [TcKimlikNo], [AdSoyad], [Telefon], [KayitTarihi], [CezaBitisTarihi]) VALUES (1, N'11111111111', N'Ahmet Yılmaz', N'5551112233', CAST(N'2025-12-26T15:56:00.530' AS DateTime), NULL)
INSERT [dbo].[Hasta] ([HastaId], [TcKimlikNo], [AdSoyad], [Telefon], [KayitTarihi], [CezaBitisTarihi]) VALUES (2, N'22222222222', N'Ayşe Demir', N'5554445566', CAST(N'2025-12-26T15:56:00.530' AS DateTime), NULL)
INSERT [dbo].[Hasta] ([HastaId], [TcKimlikNo], [AdSoyad], [Telefon], [KayitTarihi], [CezaBitisTarihi]) VALUES (3, N'33333333333', N'Mehmet Cezalı', N'5559998877', CAST(N'2025-12-26T15:56:00.533' AS DateTime), CAST(N'2025-12-27T15:56:00.533' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hasta] OFF
GO
SET IDENTITY_INSERT [dbo].[Hastane] ON 

INSERT [dbo].[Hastane] ([HastaneId], [Ad], [HastaneEnlem], [HastaneBoylam]) VALUES (1, N'Merkez Devlet Hastanesi', 41.0082, 28.9784)
SET IDENTITY_INSERT [dbo].[Hastane] OFF
GO
SET IDENTITY_INSERT [dbo].[KonumKaydi] ON 

INSERT [dbo].[KonumKaydi] ([KonumId], [HastaId], [Enlem], [Boylam], [KayitZamani], [UlasimTurId], [HastaneId]) VALUES (1, 1, CAST(41.020000 AS Decimal(9, 6)), CAST(28.990000 AS Decimal(9, 6)), CAST(N'2025-12-26T13:56:07.723' AS DateTime), 2, 1)
INSERT [dbo].[KonumKaydi] ([KonumId], [HastaId], [Enlem], [Boylam], [KayitZamani], [UlasimTurId], [HastaneId]) VALUES (2, 2, CAST(41.015000 AS Decimal(9, 6)), CAST(28.985000 AS Decimal(9, 6)), CAST(N'2025-12-26T14:56:07.723' AS DateTime), 3, 1)
INSERT [dbo].[KonumKaydi] ([KonumId], [HastaId], [Enlem], [Boylam], [KayitZamani], [UlasimTurId], [HastaneId]) VALUES (3, 3, CAST(41.050000 AS Decimal(9, 6)), CAST(28.950000 AS Decimal(9, 6)), CAST(N'2025-12-21T15:56:07.723' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[KonumKaydi] OFF
GO
SET IDENTITY_INSERT [dbo].[MuayeneKaydi] ON 

INSERT [dbo].[MuayeneKaydi] ([MuayeneId], [HastaId], [SiraId], [MuayeneBaslangic], [MuayeneBitis], [Sonuc], [CezaDurumu]) VALUES (1, 1, 1, CAST(N'2025-12-26T15:56:34.070' AS DateTime), CAST(N'2025-12-26T15:59:34.070' AS DateTime), N'Şiddetli Karın Ağrısı.', 0)
INSERT [dbo].[MuayeneKaydi] ([MuayeneId], [HastaId], [SiraId], [MuayeneBaslangic], [MuayeneBitis], [Sonuc], [CezaDurumu]) VALUES (2, 3, NULL, NULL, NULL, N'Sıra İptal Edildi.', 1)
INSERT [dbo].[MuayeneKaydi] ([MuayeneId], [HastaId], [SiraId], [MuayeneBaslangic], [MuayeneBitis], [Sonuc], [CezaDurumu]) VALUES (3, 2, NULL, CAST(N'2025-12-21T16:01:34.073' AS DateTime), CAST(N'2025-12-21T16:04:34.073' AS DateTime), N'Hafif Boğaz Yanması', 0)
SET IDENTITY_INSERT [dbo].[MuayeneKaydi] OFF
GO
SET IDENTITY_INSERT [dbo].[SiraDurumu] ON 

INSERT [dbo].[SiraDurumu] ([SiraDurumId], [Durum]) VALUES (1, N'Bekliyor')
INSERT [dbo].[SiraDurumu] ([SiraDurumId], [Durum]) VALUES (2, N'Muayenede')
INSERT [dbo].[SiraDurumu] ([SiraDurumId], [Durum]) VALUES (3, N'Tamamlandı')
SET IDENTITY_INSERT [dbo].[SiraDurumu] OFF
GO
SET IDENTITY_INSERT [dbo].[SiraHareketleri] ON 

INSERT [dbo].[SiraHareketleri] ([HareketId], [SiraId], [HareketZamani], [HaraketTipId]) VALUES (1, 2, CAST(N'2025-12-26T15:46:20.010' AS DateTime), 1)
INSERT [dbo].[SiraHareketleri] ([HareketId], [SiraId], [HareketZamani], [HaraketTipId]) VALUES (2, 2, CAST(N'2025-12-26T15:56:20.010' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[SiraHareketleri] OFF
GO
SET IDENTITY_INSERT [dbo].[UlasimTurleri] ON 

INSERT [dbo].[UlasimTurleri] ([UlasimTurId], [TurAdi]) VALUES (1, N'Yürüme')
INSERT [dbo].[UlasimTurleri] ([UlasimTurId], [TurAdi]) VALUES (2, N'Toplu Taşıma')
INSERT [dbo].[UlasimTurleri] ([UlasimTurId], [TurAdi]) VALUES (3, N'Kişisel Araç')
SET IDENTITY_INSERT [dbo].[UlasimTurleri] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hasta__EB0EF14BEC8B4481]    Script Date: 6.03.2026 19:25:05 ******/
ALTER TABLE [dbo].[Hasta] ADD UNIQUE NONCLUSTERED 
(
	[TcKimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AktifSira] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[AktifSira] ADD  DEFAULT ((0)) FOR [BenBurdayim]
GO
ALTER TABLE [dbo].[Hasta] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[KonumKaydi] ADD  DEFAULT (getdate()) FOR [KayitZamani]
GO
ALTER TABLE [dbo].[MuayeneKaydi] ADD  DEFAULT (getdate()) FOR [MuayeneBaslangic]
GO
ALTER TABLE [dbo].[MuayeneKaydi] ADD  DEFAULT ((0)) FOR [CezaDurumu]
GO
ALTER TABLE [dbo].[SiraHareketleri] ADD  DEFAULT (getdate()) FOR [HareketZamani]
GO
ALTER TABLE [dbo].[AktifSira]  WITH CHECK ADD FOREIGN KEY([HastaId])
REFERENCES [dbo].[Hasta] ([HastaId])
GO
ALTER TABLE [dbo].[AktifSira]  WITH CHECK ADD  CONSTRAINT [FK_AktifSira_SiraDurumu] FOREIGN KEY([SiraDurumId])
REFERENCES [dbo].[SiraDurumu] ([SiraDurumId])
GO
ALTER TABLE [dbo].[AktifSira] CHECK CONSTRAINT [FK_AktifSira_SiraDurumu]
GO
ALTER TABLE [dbo].[KonumKaydi]  WITH CHECK ADD FOREIGN KEY([HastaId])
REFERENCES [dbo].[Hasta] ([HastaId])
GO
ALTER TABLE [dbo].[KonumKaydi]  WITH CHECK ADD  CONSTRAINT [FK_KonumKaydi_Hastane] FOREIGN KEY([HastaneId])
REFERENCES [dbo].[Hastane] ([HastaneId])
GO
ALTER TABLE [dbo].[KonumKaydi] CHECK CONSTRAINT [FK_KonumKaydi_Hastane]
GO
ALTER TABLE [dbo].[KonumKaydi]  WITH CHECK ADD  CONSTRAINT [FK_KonumKaydi_UlasimTurleri] FOREIGN KEY([UlasimTurId])
REFERENCES [dbo].[UlasimTurleri] ([UlasimTurId])
GO
ALTER TABLE [dbo].[KonumKaydi] CHECK CONSTRAINT [FK_KonumKaydi_UlasimTurleri]
GO
ALTER TABLE [dbo].[MuayeneKaydi]  WITH CHECK ADD FOREIGN KEY([HastaId])
REFERENCES [dbo].[Hasta] ([HastaId])
GO
ALTER TABLE [dbo].[MuayeneKaydi]  WITH CHECK ADD FOREIGN KEY([SiraId])
REFERENCES [dbo].[AktifSira] ([SiraId])
GO
ALTER TABLE [dbo].[SiraHareketleri]  WITH CHECK ADD FOREIGN KEY([SiraId])
REFERENCES [dbo].[AktifSira] ([SiraId])
GO
ALTER TABLE [dbo].[SiraHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_SiraHareketleri_HaraketTipi] FOREIGN KEY([HaraketTipId])
REFERENCES [dbo].[HaraketTipi] ([HaraketTipId])
GO
ALTER TABLE [dbo].[SiraHareketleri] CHECK CONSTRAINT [FK_SiraHareketleri_HaraketTipi]
GO
